<div class="container py-5">
    <div class="row py-5">
        <div class="col-12 col-md-6">
            <div class="mat-title heading-color pt-md-5 mt-lg-4 mb-4">
                <b>“</b> Information is not knowledge. The only source of knowledge is experience. You need experience
                to gain wisdom. <b>”</b>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- <div class=""> -->
            <img src="assets/experience.svg" alt="" class="img-fluid">
            <!-- </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mb-5">
            <div class="mat-display-1 font-weight-500 heading-color mb-3">
                Experience
            </div>
        </div>
        <div class="col-12 col-md-7 mx-0 mx-auto mb-5">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="mat-h3 heading-color font-weight-500 mb-0">Personiv</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row py-3">
                        <div class="col-12 text-center">
                            <div class="mat-h4 mb-1 font-weight-500 desc-color">
                                I joined as a Process Executive
                            </div>
                            <div class="mat-h4 mb-1 font-weight-500 desc-color">
                                My job nature was Manual testing
                            </div>
                            <div class="mat-h4 mb-1 font-weight-500 desc-color">
                                Promoted as Quality Controller
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-12 col-md-7 mx-0 mx-auto">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="mat-h3 heading-color font-weight-500 mb-0">Freelancer</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row py-3">
                        <div class="col-12 text-center">
                            <div class="mat-h4 mb-1 font-weight-500 desc-color">
                                I'm' working as a freelancer for 2 yrs
                            </div>
                            <div class="mat-h4 mb-1 font-weight-500 desc-color">
                                I develop creative and responsive websites
                            </div>
                            <div class="mat-h4 mb-1 font-weight-500 desc-color">
                                I design attractive banners
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>