<div class="container py-5">
    <div class="row py-5">
        <div class="col-12 col-md-6">
            <div class="mat-title heading-color pt-md-5 mt-lg-4 mb-4">
                <b>“</b> The best project you will ever work on is you. <b>”</b>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- <div class=""> -->
            <img src="assets/project.svg" alt="" class="img-fluid">
            <!-- </div> -->
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 text-center mb-5">
            <div class="mat-display-1 font-weight-500 heading-color mb-3">
                Project
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <mat-card class="mat-elevation-z6">
                <img src="/assets/project1.jpg" alt="" class="img-fluid">
                <div class="w-100 text-center">
                    <a mat-raised-button color="accent" class="mt-3" href="https://barathkumark.github.io/Portfolio/"
                        target="_blank"> Go
                        Live </a>
                </div>
            </mat-card>
        </div>
        <div class="col-12 col-md-4 col-lg-3 py-4 py-md-0">
            <mat-card class="mat-elevation-z6">
                <img src="/assets/project2.jpg" alt="" class="img-fluid">
                <div class="w-100 text-center">
                    <a mat-raised-button color="accent" class="mt-3" href="https://www.nmindiabio.com/" target="_blank">
                        Go
                        Live </a>
                </div>
            </mat-card>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <mat-card class="mat-elevation-z6">
                <img src="/assets/project3.jpg" alt="" class="img-fluid">
                <div class="w-100 text-center">
                    <a mat-raised-button color="accent" class="mt-3" href="https://www.royalsundaram.in/"
                        target="_blank"> Go
                        Live </a>
                </div>
            </mat-card>
        </div>
        <div class="col-12 col-md-4 col-lg-3 pt-4 pt-lg-0">
            <mat-card class="mat-elevation-z6">
                <img src="/assets/Project4.jpg" alt="" class="img-fluid">
                <div class="w-100 text-center">
                    <a mat-raised-button color="accent" class="mt-3" href="https://vedantaorgano.com/" target="_blank">
                        Go
                        Live </a>
                </div>
            </mat-card>
        </div>
    </div>
</div>